/* 
/* src/styles/globals.css */

/* Example global styles */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}


body {
  display: flex;
  flex-direction: column;
}

header, footer {
  background-color: #00446C;
  color: white;
  display: flex;
  justify-content: center;
  padding: 16px;
}

main {
  padding: 16px;
}

footer {
  text-align: center;
  margin-top: 370px;
}

h1, h2 {
  margin-bottom: 16px;
}

button {
  cursor: pointer;
}
.reports-button {
  margin-left: 10px;
}
/* src/styles/globals.css */

.form {
  max-width: 600px;
  margin: 0 auto;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 16px;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.checkbox-label {
  display: flex;
  align-items: center;
}

.checkbox {
  margin-right: 8px;
}

.button {
  background-color: #00773B;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  font-size: 16px;
}

.button:hover {
  background-color: #005bb5;
}
.report-page{
  text-align: center;
}
